# Montaña vs Playa

Tenemos una lista de diferentes datos acerca de las personas que prefieren las montañas o la playa.

In [25]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("mountains_vs_beaches.csv")

In [7]:
df.head()

,Age,Gender,Income,Education_Level,Travel_Frequency,Preferred_Activities,Vacation_Budget,Location,Proximity_to_Mountains,Proximity_to_Beaches,Favorite_Season,Pets,Environmental_Concerns,Preference
0,56,male,71477,bachelor,9,skiing,2477,urban,175,267,summer,No,Yes,Mountains
1,69,male,88740,master,1,swimming,4777,suburban,228,190,fall,No,Yes,Beaches
2,46,female,46562,master,0,skiing,1469,urban,71,280,winter,No,No,Mountains
3,32,non-binary,99044,high school,6,hiking,1482,rural,31,255,summer,Yes,No,Mountains
4,60,female,106583,high school,5,sunbathing,516,suburban,23,151,winter,Yes,Yes,Beaches

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52444 entries, 0 to 52443
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     52444 non-null  int64
 1   Gender                  52444 non-null  object
 2   Income                  52444 non-null  int64
 3   Education_Level         52444 non-null  object
 4   Travel_Frequency        52444 non-null  int64
 5   Preferred_Activities    52444 non-null  object
 6   Vacation_Budget         52444 non-null  int64
 7   Location                52444 non-null  object
 8   Proximity_to_Mountains  52444 non-null  int64
 9   Proximity_to_Beaches    52444 non-null  int64
 10  Favorite_Season         52444 non-null  object
 11  Pets                    52444 non-null  object
 12  Environmental_Concerns  52444 non-null  object
 13  Preference              52444 non-null  object
dtypes: int64(6), object(8)
memory usage: 5.6+ MB

In [5]:
df.isna().sum()

Age                       0
Gender                    0
Income                    0
Education_Level           0
Travel_Frequency          0
Preferred_Activities      0
Vacation_Budget           0
Location                  0
Proximity_to_Mountains    0
Proximity_to_Beaches      0
Favorite_Season           0
Pets                      0
Environmental_Concerns    0
Preference                0
dtype: int64

In [8]:
df[df.duplicated(keep=False)].drop_duplicates()

Empty DataFrame
Columns: [Age, Gender, Income, Education_Level, Travel_Frequency, Preferred_Activities, Vacation_Budget, Location, Proximity_to_Mountains, Proximity_to_Beaches, Favorite_Season, Pets, Environmental_Concerns, Preference]
Index: []

In [21]:
df["Pets"] = df["Pets"].replace({'Yes': 1, 'No': 0})
df["Environmental_Concerns"] = df["Environmental_Concerns"].replace({'Yes': 1, 'No': 0})
df["Preference"] = df["Preference"].replace({'Mountains': 1, 'Beaches': 0})

/tmp/ipykernel_2010/329250226.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Preference"] = df["Preference"].replace({'Mountains': 1, 'Beaches': 0})

In [24]:
df.head()

,Age,Gender,Income,Travel_Frequency,Preferred_Activities,Vacation_Budget,Location,Proximity_to_Mountains,Proximity_to_Beaches,Favorite_Season,Pets,Environmental_Concerns,Preference
0,56,male,71477,9,skiing,2477,urban,175,267,summer,0,1,1
1,69,male,88740,1,swimming,4777,suburban,228,190,fall,0,1,0
2,46,female,46562,0,skiing,1469,urban,71,280,winter,0,0,1
3,32,non-binary,99044,6,hiking,1482,rural,31,255,summer,1,0,1
4,60,female,106583,5,sunbathing,516,suburban,23,151,winter,1,1,0

In [23]:
df = df.drop(columns=["Education_Level"])

In [26]:
df.to_csv("mountains_vs_beaches_clean.csv", index=False)